* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ===== Primary ===== */
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);

  /* ===== Neutral ===== */
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-color: var(--cream);
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 37.5rem;
  border-radius: 0.7rem;
  background-color: var(--white);
  display: flex;
  overflow: hidden;
}

.image-container {
  width: 50%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.image-container picture {
  display: block;
  width: 100%;
  height: 100%;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  padding: 2rem;
}
.headp {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: var(--grey);
  font-size: 0.8rem;
}
.content h1 {
  font-size: 2.2rem;
  color: var(--black);
  line-height: 1;
}
.content p {
  font-size: 0.9rem;
  color: var(--grey);
  line-height: 1.5;
}
.price {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.price span {
  color: var(--green-500);
  font-weight: bold;
  font-size: 2rem;
}
.price del {
  color: var(--grey);
  font-size: 0.8rem;
}
button {
  background-color: var(--green-500);
  color: white;
  width: 100%;
  height: 2rem;
  padding: 0.8rem;
  border: none;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-weight: bold;
}

button:hover {
  background-color: var(--green-700);
  cursor: pointer;
}

@media (max-width: 48rem) {
  .card {
    flex-direction: column;
    width: 90%;
  }

  .image-container,
  .content {
    width: 100%;
  }

  .image-container {
    height: 15.62rem;
  }

  .image-container img {
    height: 100%;
    object-fit: cover;
  }
}
